<div>
  <mat-toolbar class="navbar-custom">
    <span class="example-spacer"></span>
    <div *ngFor="let seccion of secciones" fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a [routerLink]="[seccion.ruta]" mat-button style="color: white">
        {{seccion.descripcion}}
        <img width="30" height="30" src="{{seccion.imagen}}">
      </a>
    </div>
    <span class="example-spacer"></span>


    <form class="searchInput">
      <mat-form-field>
        <input matInput aria-label="Buscar" [(ngModel)]="searchInput" name="searchInput" [formControl]="formBusProd">
      </mat-form-field>
      <button mat-stroked-button title="Buscar productos" [routerLink]="['catalogue']"
        (click)="onClickSearchProductsPorPalabraClave()"><img src="./../../../assets/img/search_icon.png"></button>
    </form>

    <div fxShow="true" fxHide.gt-sm="true" class="sidenav-button">
      <a href="#" (click)="sidenav.toggle()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </a>
    </div>
    
  </mat-toolbar>

  <mat-toolbar class="logo-container">
      <img src="../../../assets/img/Indec_logo.png">
  </mat-toolbar>

    <div class="sidenav-container-container">
        <mat-sidenav-container fxFlexFill class="sidenav-container" fxLayout="column" style="background-color: crimson">
            <mat-sidenav #sidenav fxLayout="row" style="padding-top:10px" >
              <div fxLayout="column">
                <a (click)="sidenav.toggle()" mat-button>Close</a>
                <a href="#" mat-button>Menu Item 1</a>
                <a href="#" mat-button>Menu Item 2</a>
                <a href="#" mat-button>Menu Item 3</a>
                <a href="#" mat-button>Menu Item 4</a>
                <a href="#" mat-button>Menu Item 5</a>
                <a href="#" mat-button>Menu Item 6</a>
              </div>
            </mat-sidenav>
          </mat-sidenav-container>
    </div>
  

</div>