<mat-toolbar-row class="navbar-custom">
  <mat-toolbar>
    <button mat-button [routerLink]="['/']" i18n>
      <img src="./../../../assets/img/home_icon.png"> Principal
    </button>
  </mat-toolbar>
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu" i18n>
      <img src="./../../../assets/img/menu_icon.png"> Menu
    </button>
  </mat-toolbar>
  <mat-toolbar>
    <button mat-button [routerLink]="['cart']" i18n>
      <img src="./../../../assets/img/cart_icon.png"> Carrito
    </button>
  </mat-toolbar>

  <span class="navbar-spacer"></span>

  <mat-toolbar>
    <mat-form-field class="searchInput">
      <input matInput placeholder="Buscar productos" aria-label="Buscar" [(ngModel)]="searchInput" name="searchInput"  (keyup.enter)="searchProducts()"  [matAutocomplete]="autoBus" [formControl]="formBusProd">
        <mat-autocomplete #autoBus="matAutocomplete">
          <mat-option *ngFor="let producto of filteredProds | async" [value]="producto.nombre">
            <img class="example-option-img" aria-hidden [src]="producto.imagen" width="25" height="25">
            <span>{{producto.nombre}}</span> |
            <small>{{producto.nombreCategoria}}</small>
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-stroked-button title="Buscar productos" [routerLink]="['catalogue']" (click)="searchProducts()"><img src="./../../../assets/img/search_icon.png"></button>
  </mat-toolbar>

  <div class="navbar-item">
    <div class="btn-group btn-lang">
      <button mat-menu-item class="btn btn-dark" [matMenuTriggerFor]="idioma">
        {{idiomaActual.nombre}}
        <img src="{{idiomaActual.imagen}}">
      </button>
    </div>
  </div>

</mat-toolbar-row>

<mat-toolbar-row class="navbar-custom-top">
  <mat-toolbar>
    <img src="../../../assets/img/Indec_logo.png" width="150" height="50">
  </mat-toolbar>
  <mat-toolbar></mat-toolbar>
  <mat-toolbar>
    <img src="./../../../assets/img/WEB_ICON2.png" width="50" height="50">
    <h3>Comparador de Precios</h3>
  </mat-toolbar>
  <mat-toolbar></mat-toolbar>
  <span class="navbar-spacer"></span>

  <div class="navbar-item">
   <!--  <button mat-button [matMenuTriggerFor]="ubicacion"> -->
    <button mat-button (click)="registrarUbicacion()">
      <img src="./../../../assets/img/location_icon.png"><span>Ubicacion</span>
    </button>
  </div>
  <div class="navbar-item">
    <ul *ngFor="let ubic of listaubicaciones">
      <li>Latitud: {{ubic.latitud}}</li>
      <li>Longitud: {{ubic.longitud}}</li>
    </ul>
  </div> <!--
  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="ubicacion">
      <img src="./../../../assets/img/location_icon.png"><span>Ubicacion</span>
    </button>
  </mat-toolbar>
<mat-toolbar>

  </mat-toolbar>
-->

</mat-toolbar-row>

<mat-menu #idioma="matMenu">
  <button mat-menu-item *ngFor="let idioma of listaIdiomas" (click)="setIdiomaActual(idioma.nombre)">
    {{idioma.nombre}}
    <img src="{{idioma.imagen}}" width="25" height="25">
  </button>
</mat-menu>

<!--
<mat-menu #ubicacion="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="provincias">Provincias</button>
  <button mat-menu-item (click)="getAutomaticLocation()">Ubicacion actomatica</button>
</mat-menu> -->

<mat-menu #provincias="matMenu">
  <button mat-menu-item *ngFor='let provincia of listaProvincias' > {{ provincia.nombreProvincia }} </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="productos">Productos</button>
  <!-- <button mat-menu-item [matMenuTriggerFor]="supermercados">Supermercados</button> -->
  <button mat-menu-item [routerLink]="['sucursales']">Supermercados</button>
</mat-menu>

<mat-menu #productos="matMenu">
  <button mat-menu-item *ngFor='let categoria of listaCategorias' (click)="newCriterio(categoria)" [routerLink]="['catalogue']"> {{ categoria }} </button>
</mat-menu>

<!--
<mat-menu #supermercados="matMenu">
  <button mat-menu-item *ngFor='let cadena of listaCadenas' [routerLink]="['catalogue']"> {{ cadena.nombre }} </button>
</mat-menu>-->


