<div style="text-align:center">
  <h2>Buscador de Productos</h2>

  <div id="inOwl">
    <mat-form-field>
      <input matInput placeholder="Encuentra el producto que desees, por nombre, marca o categoria">
    </mat-form-field>
  </div>
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_slide_1.jpg"></ng-template>
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_slide_5.jpg"></ng-template>
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_slide_3.jpg"></ng-template>
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_slide_4.jpg"></ng-template>
  </owl-carousel-o>
</div>



