.space {
  margin-top: 7%;
}

h2 {
  font-family: Oswald !important;
  color: rgb(50, 50, 156);
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center !important;
}

mat-form-field {
  font-family: Oswald !important;
  width: 45%;
  background: rgb(255,255,255,0.8);
  color: black;
  border: lightblue 2px solid;
}

button img {
  width: 45px;
  height: 45px;
}

.searchButton {
  font-family: Oswald !important;
  margin-top: 1% ;
  font-size: 24px;
  height: 75px;
  width: 145px;
  text-align: center;
  border: 2px lightblue solid;
  background-color: rgb(50, 50, 156);
  color: white;
}
#inOwl {
  font-family: Oswald !important;
  color:rgb(50, 50, 156);
  font-size: 20px;
  position: absolute;
  z-index: 10;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
