.navbar-custom{
  background-image: url("./../../assets/img/wallpaper.jpg") ;
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100%;
}

mat-toolbar, mat-search-bar, button{
  background: none;
}

.mat-tab-group {
  margin-bottom: 48px;
}
.product-card {
  max-width: 100%;
}

.product-header-image {
  background-image: url('../../assets/img/product_icon.png');
  width: 30px;
  height: 30px;
  background-size: cover;
}
