<app-searchbar></app-searchbar>
<h3>Tambien puedes elegir los productos seleccionando una categoria</h3>
<h2>Categorias de Productos</h2>
<mat-grid-list cols="4" rowHeight="200px" [gutterSize]="'10px'">
  <mat-grid-tile *ngFor='let categoria of listaCategorias' >
    <button mat-button (click)="newMessage(categoria.nombre)" [routerLink]="['catalogue']">
      <mat-card>
        <img mat-card-image src='{{categoria.imagen}}'>
        <mat-card-title>{{categoria.nombre}}</mat-card-title>
      </mat-card>
    </button>
  </mat-grid-tile>
</mat-grid-list>
