mat-grid-list {
  margin-left: 5% !important;
  margin-right: 5% !important;
  margin-top: 3% !important;
  border-style: none !important;
}

mat-grid-tile button {
  width: 100%;
  height: 100%;
  border: 1px lightblue solid;
}

mat-grid-tile{
  background-color: white;
}

mat-card img {
  width: 260px !important;
  height: 105px !important;
}

mat-card-title{
  text-align: center !important;
  font-size: 16pt !important;
  color: black !important;
  width: 100%;
  height: 100%;
}

h2 {
  font-family: Oswald !important;
  color: rgb(50, 50, 156);
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center !important;
}
