<!-- Seria bueno ordenar la lista de columnas (sucursales), siendo la primera la mejor opcion,
y las siguientes ordenadas por criterios (precio, cantidad productos, cercania)
-->
<h2>Precios de Productos</h2>
<div class="pricetable-container">

  <div *ngIf="! error">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="listaProductos" *ngIf="! sucursalesEmpty()">
    <ng-container matColumnDef="item" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <mat-card-title>Lista</mat-card-title>
      </th>
      <td mat-cell *matCellDef="let producto" matColumnDef>
        <mat-card>
          <img src={{producto.imagen}}>
          <mat-card-content>
            <span> {{producto.nombre}}</span>
            <mat-card-subtitle> {{producto.idComercial}} </mat-card-subtitle>
          </mat-card-content>
          <button mat-button title="Eliminar producto" (click)="removeProduct(producto.idComercial)"><img class="remove-button" src="../../../assets/img/trash.png"></button>
        </mat-card>
      </td>
      <td mat-footer-cell *matFooterCellDef class="total">
        <mat-card-title> Resumen </mat-card-title>
        <mat-card-subtitle> Detalle de resumen </mat-card-subtitle>
      </td>
    </ng-container>

    <ng-container *ngFor='let sucursal of listaSucursales; let i = index;' matColumnDef="sucursal{{i+1}}">
      <div>
        <th mat-header-cell *matHeaderCellDef="let producto">
          <button mat-stroked-button (click)="openDialogInfo(sucursal)" title="Informacion sucursal">
            <mat-card [ngClass]="{'mejorOp': sucursal.mejorOpcion}">
              <img class="cadena-logo" src="{{getCadena(sucursal.idCadena).imagen}}">
                <mat-card-content>
                  <mat-card-title>{{sucursal.direccion}}</mat-card-title>
                  <mat-card-subtitle>{{getCadena(sucursal.idCadena).nombre}}</mat-card-subtitle>
                  <mat-card-subtitle> ( {{sucursal.productos.length}} productos disponibles ) </mat-card-subtitle>
                </mat-card-content>
            </mat-card>
          </button>
        </th>

        <td [ngClass]="{'mejorOp': sucursal.mejorOpcion}" *matCellDef="let producto"> {{getProductoPriceBySucursal(i,producto.idComercial)}}   </td>

        <td mat-footer-cell *matFooterCellDef>
          <mat-card [ngClass]="sucursal.mejorOpcion ? 'mejorOp' : 'total'">
            <mat-card-title> $ {{getTotal(i)}} </mat-card-title>
             <img src="{{getCadena(sucursal.idCadena).imagen}}">
            <mat-card-content>
              <mat-card-subtitle> {{sucursal.direccion}} </mat-card-subtitle>
            </mat-card-content>
          </mat-card>
        </td>
      </div>
    </ng-container>

    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let producto">
        <mat-icon>more_vert</mat-icon>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>

  <div *ngIf="error">
    {{error}}
  </div>

</div>
