<h2>Alimentacion saludable</h2>
<h3>Aqui encontraras los mejores platos seleccionados para cada dia de la semana</h3>

<div class="carouselHealth">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_health_slide_1.jpg"></ng-template>
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_health_slide_2.jpg"></ng-template>
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_health_slide_4.jpg"></ng-template>
    <ng-template carouselSlide><img src="./../../../assets/img/carousel_health_slide_5.png"></ng-template>
  </owl-carousel-o>
</div>

<div class="diasSemana">
  <mat-grid-list cols="7">
    <mat-grid-tile *ngFor="let dia of diasDeSemana">
      <time class="dia" [ngClass]="{'diaActual': dia.actual}">
        <em>{{dia.nombre}}</em>
        <span>{{dia.numero}}</span>
        <strong>{{dia.mes}}</strong>
      </time>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="menuDiario" *ngIf="menuDiario">
  <h2>Hoy es {{menuDiario.dia}}, dia de {{menuDiario.nombreMenu}}</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card *ngFor="let plato of menuDiario.platos">
        <mat-card-header>
          <mat-card-title>{{plato.nombrePlato}}</mat-card-title>
          <mat-card-subtitle>{{menuDiario.nombreMenu}}</mat-card-subtitle>
        </mat-card-header>
        <img src="{{plato.imagenPlato}}" height="85">
        <mat-card-content>
          <mat-expansion-panel (opened)="panelIngOpenState = true" (closed)="panelIngOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>INGREDIENTES</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let ingrediente of plato.ingredientes">{{ingrediente.nombreIngrediente}} ({{ingrediente.descripcion}})</li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelPrepOpenState = true" (closed)="panelPrepOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>PREPARACION</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{plato.preparacion}}</p>
          </mat-expansion-panel>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="enviarPlato(plato.idPlato)" [routerLink]="['../pricesplate']" title="Calcular Precios"><img src="./../../../assets/img/searchprice_icon.png"></button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="noMenu" *ngIf="! menuDiario">
  <h3>No hay un menu para este dia.</h3>
</div>

