<div>

  <mat-toolbar class="navbar-custom" style="text-align: right">

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-lg="true">

      <a [routerLink]="['/']" mat-button style="color: white">
        <span i18n>Principal</span>
        <img width="30" height="30" src="./../../../assets/img/home_icon.png">
      </a>

      <a [routerLink]="['health']" mat-button style="color: white">
          <span i18n>Menu Saludable</span>
          <img width="30" height="30" src="./../../../assets/img/health-food-icon2.png">
      </a>

      <a [routerLink]="['cart']" mat-button style="color: white">
        <span i18n>Carrito</span>
        <img width="30" height="30" src="./../../../assets/img/cart_icon.png">
      </a>

      <a *ngIf="hayUbicacion()" [routerLink]="['sucursales']" mat-button style="color: white">
        <span i18n>Supermercados</span>
        <img width="30" height="30" src="./../../../assets/img/super_icon.png">
      </a>

      <a *ngIf="!hayUbicacion()" (click)="registrarUbicacion()" mat-button style="color: white">
          <span i18n>Supermercados</span>
        <img width="30" height="30" src="./../../../assets/img/super_icon.png">
      </a>

      <a mat-button (click)="searchAllProducts()" [routerLink]="['catalogue']" style="color: white">
        <span i18n>Productos</span>
        <img width="30" height="30" src="./../../../assets/img/product_icon.png">
      </a>

      <a mat-button (click)="registrarUbicacion()" style="color: white">
          <span i18n>Ubicacion</span>
        <img width="30" height="30" src="./../../../assets/img/location_icon.png">
      </a>

    </div>

    <span class="example-spacer"></span>


    <form class="searchInput" style="padding-left: 3%">
      <mat-form-field>
        <input matInput i18n-aria-label aria-label="Buscar" [(ngModel)]="searchInput" name="searchInput"
          [formControl]="formBusProd">
      </mat-form-field>
      <button mat-stroked-button i18n-title title="Buscar productos" [routerLink]="['catalogue']"
        (click)="onClickSearchProductsPorPalabraClave()"><img src="./../../../assets/img/search_icon.png"></button>
    </form>

    <div class="navbar-item">
      <div class="btn-group btn-lang">
        <button mat-menu-item class="btn" [matMenuTriggerFor]="idioma" style="color: white">
          {{idiomaActual.nombre}}
          <img src="{{idiomaActual.imagen}}" style="width: 25px;height: 25px;">
        </button>
      </div>
    </div>

    <mat-menu #idioma="matMenu">
      <button mat-menu-item *ngFor="let idioma of listaIdiomas" (click)="setIdiomaActual(idioma.nombre)">
        {{idioma.nombre}}
        <img src="{{idioma.imagen}}" width="25px" height="25px">
      </button>
    </mat-menu>

    <div fxShow="true" fxHide.gt-lg="true" class="sidenav-button">
      <a (click)="sidenav.toggle()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </a>
    </div>

  </mat-toolbar>

  <div class="sidenav-container-container">
    <mat-sidenav-container fxFlexFill class="sidenav-container" fxLayout="column">
      <mat-sidenav #sidenav fxLayout="row" style="padding-top:75px">
        <div fxLayout="column">

          <a [routerLink]="['/']" mat-button style="color: rgb(0, 0, 0)">
            <span i18n>Principal</span>
            <img width="30" height="30" src="./../../../assets/img/home_icon.png">
          </a>

          <a [routerLink]="['health']" mat-button style="color: rgb(0, 0, 0)">
            <span i18n>Menu Saludable</span>
            <img width="30" height="30" src="./../../../assets/img/health-food-icon2.png">
          </a>

          <a [routerLink]="['cart']" mat-button style="color: rgb(0, 0, 0)">
            <span i18n>Carrito</span>
            <img width="30" height="30" src="./../../../assets/img/cart_icon.png">
          </a>

          <a *ngIf="hayUbicacion()" [routerLink]="['sucursales']" mat-button style="color: rgb(0, 0, 0)">
            <span i18n>Supermercados</span>
            <img width="30" height="30" src="./../../../assets/img/super_icon.png">
          </a>

          <a *ngIf="!hayUbicacion()" (click)="registrarUbicacion()" mat-button style="color: rgb(0, 0, 0)">
              <span i18n>Supermercados</span>
            <img width="30" height="30" src="./../../../assets/img/super_icon.png">
          </a>

          <a (click)="searchAllProducts()" [routerLink]="['catalogue']" mat-button style="color: rgb(0, 0, 0)">
            <span i18n>Productos</span>
            <img width="30" height="30" src="./../../../assets/img/product_icon.png">
          </a>

          <a mat-button (click)="registrarUbicacion()" style="color: rgb(0, 0, 0)">
            <span i18n>Ubicacion</span>
            <img width="30" height="30" src="./../../../assets/img/location_icon.png">
          </a>

        </div>
      </mat-sidenav>


      <div *ngIf="!error">
        <div class="router-container">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </mat-sidenav-container>
  </div>



</div>