<form>
  <h4>Categorias</h4>
  <mat-form-field>
    <mat-select>
      <mat-option (click)="newMessage(categoria.nombre)" *ngFor="let categoria of listaCategorias" [value]="categoria.nombre">
        {{categoria.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>

  <h4>Marcas</h4>
  <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let marca of listaMarcas" [value]="marca">
        {{marca}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider></mat-divider>

  <h4>Ubicacion</h4>
  <mat-slide-toggle
      class="example-margin"
      [checked]="false"
      [disabled]="false">
    Ubicacion automatica
  </mat-slide-toggle>

  <h6>Provincia</h6>
  <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let prov of listaProvincias" [value]="prov.id" (click)="getLocalidadesByProvincia(prov.id)">
        {{prov.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h6>Localidad</h6>
  <mat-form-field>
    <mat-select>
      <mat-option *ngFor="let loc of listaLocalidades" [value]="loc.nombre">
        {{loc.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>

 <!-- <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Localidad"></textarea>
  </mat-form-field> -->

</form>

