
.mostrarOcultarFiltro {
  border: 1px solid aquamarine;
}

p {
  margin-right: 1% !important;
  margin-left: 1% !important;
  font-family: Oswald !important;
  font-size: 18px;
  align-content: center
}

button img {
  width: 35px;
  height: 35px;
}

.searchfiltercontainer {
  background: none;
  position: fixed;
  margin-top: 15%;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 20;
  height: 55%;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}


.sidenav {
  width: 100%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  border: 2px solid aquamarine;
}
