<!--  en la columna item tengo cards con datos de producto -->
<!-- en las columnas restantes tengo precios del producto de la sucursal correspondiente -->
<!-- cada columna representa el precio del producto en la sucursal -->
<!-- maximo de 4 columnas de sucursales -->
<!-- en el header de cada sucursal, se muestra card con datos de la sucursal -->
<table mat-table [dataSource]="listaProductos">
  <ng-container matColumnDef="item">
    <th mat-header-cell *matHeaderCellDef>
      <mat-card-title>Lista</mat-card-title>
    </th>
    <td mat-cell *matCellDef="let producto" matColumnDef>
      <mat-card>
        <img src={{producto.imagen}}>
        <mat-card-content>
          <span> {{producto.nombre}}</span>
          <mat-card-subtitle> {{producto.idProd}} </mat-card-subtitle>

        </mat-card-content>
        <button mat-button><img src="../../assets/img/trash.png"></button>
      </mat-card>
    </td>
    <td mat-footer-cell *matFooterCellDef>
      <mat-card-title> Resumen </mat-card-title>
      <mat-card-subtitle> Detalle de resumen </mat-card-subtitle>
    </td>
  </ng-container>


  <ng-container *ngFor='let sucursal of listaSucursales; let i = index;' matColumnDef="sucursal{{i+1}}">
    <div *ngIf="sucursal.mejor">
      <th class="mejorOp" mat-header-cell *matHeaderCellDef="let producto">
        <input type="hidden" value="{{getProductoPriceBySucursal(i,producto.idProd)}}">
        <mat-card >
        <img src="{{sucursal.imagen}}">
          <mat-card-content>
            <mat-card-title>{{sucursal.direccion}}</mat-card-title>
            <mat-card-subtitle>{{sucursal.nombreCadena}}, {{sucursal.localidad}}</mat-card-subtitle>
            <mat-card-subtitle> ( {{sucursal.listaPreciosProductos.length}} productos disponibles ) </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </th>

      <td class="mejorOp" *matCellDef="let producto"> {{getProductoPriceBySucursal(i,producto.idProd)}}   </td>

      <td mat-footer-cell *matFooterCellDef>
        <mat-card >
          <mat-card-title> $ {{getTotal(i)}} </mat-card-title>
          <img src="{{sucursal.imagen}}">
          <mat-card-content>
            <mat-card-subtitle>  {{sucursal.direccion}} </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </td>
    </div>
    <div *ngIf="! sucursal.mejor">
      <th mat-header-cell *matHeaderCellDef>
        <mat-card>
        <img src="{{sucursal.imagen}}">
          <mat-card-content>
            <mat-card-title>{{sucursal.direccion}}</mat-card-title>
            <mat-card-subtitle>{{sucursal.nombreCadena}}, {{sucursal.localidad}}</mat-card-subtitle>
            <mat-card-subtitle> ( {{sucursal.listaPreciosProductos.length}} productos disponibles ) </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </th>

      <td mat-cell *matCellDef="let producto"> {{getProductoPriceBySucursal(i,producto.idProd)}}   </td>

      <td mat-footer-cell *matFooterCellDef>
        <mat-card>
          <mat-card-title> $ {{getTotal(i)}} </mat-card-title>
          <img src="{{sucursal.imagen}}">
          <mat-card-content>
            <mat-card-subtitle>  {{sucursal.direccion}} </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </td>
    </div>
  </ng-container>

<!--
  <ng-container *ngFor='let sucursal of listaSucursales; let i = index;' matColumnDef="sucursal{{i+1}}" >
    <th mat-header-cell *matHeaderCellDef>
      <mat-card>
        <img src="{{sucursal.imagen}}">
        <mat-card-content>
          <mat-card-title>{{sucursal.direccion}}</mat-card-title>
          <mat-card-subtitle>{{sucursal.nombreCadena}}, {{sucursal.localidad}}</mat-card-subtitle>
          <mat-card-subtitle> ( {{sucursal.listaPreciosProductos.length}} productos disponibles ) </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </th>

    <td mat-cell *matCellDef="let producto"> {{getProductoPriceBySucursal(i,producto.idProd)}}   </td>

    <td mat-footer-cell *matFooterCellDef>
      <mat-card>
        <mat-card-title> $ {{getTotal(i)}} </mat-card-title>
        <img src="{{sucursal.imagen}}">
        <mat-card-content>
          <mat-card-subtitle>  {{sucursal.direccion}} </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </td>
  </ng-container>   -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>

