<div class="space"> </div>

<h2>Productos de Canasta Basica</h2>

<div class="noProds" *ngIf=" ! (listaProductos.length > 0 )">
  <h4>No hay productos para mostrar.</h4>
  <h5>Puedes utilizar nuestro buscador o seleccionar una categoria.</h5>
</div>

<mat-grid-list cols="4" rowHeight="100px" [gutterSize]="'8px'">
  <mat-grid-tile *ngFor="let producto of listaProductos" [colspan]="1" [rowspan]="4">
    <mat-card [ngClass]="{'agregado': prodIsInCart(producto.codigoDeBarras)}">
      <mat-card-title>{{producto.nombreProducto}}</mat-card-title>
      <mat-card-subtitle>{{producto.nombreCategoria}}</mat-card-subtitle>
      <mat-divider></mat-divider>
      <img class="prod-img" src="{{producto.imagenProducto}}">
      <mat-card-actions>
        <mat-button-toggle-group>
        <button mat-button *ngIf="prodIsInCart(producto.codigoDeBarras)" (click)="removeFromCart(producto)"><img src="./../../../assets/img/trash_icon.png" title="Eliminar del carrito"></button>
        <button mat-button *ngIf="!prodIsInCart(producto.codigoDeBarras)" (click)="addToCart(producto)"><img src="./../../../assets/img/addtocart_icon.png" title="Agregar a carrito"></button>
        <button mat-button *ngIf="ubicacion" (click)="consultarPrecio(producto)" [routerLink]="['../prices']"><img src="./../../../assets/img/searchprice_icon.png" title="Comparar precios"></button>
        <button mat-button *ngIf="!ubicacion" value="location" (click)="registrarUbicacion()"> <img src="./../../../assets/img/price_calculator.png">Comparar Precios</button>
      </mat-button-toggle-group>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<div>
  <app-searchfilter></app-searchfilter>
</div>



